/* page */

body {
  font-family: Arial;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem;
  /* background-color: lightblue; */
  background-color: rgb(247, 236, 238);
  /* background-color: lightyellow; */
}

.hidden {
  display: none;
}

/* grid */

img {
  height: 1rem;
  width: 1rem;
  margin: 0.25rem 0.5rem 0 0;
}

#Charmmykitty,
#Embercat,
#Kittay {
  border: 0px;
  background-color: transparent;
  font-size: 16px;
  width: 18rem;
  height: 2rem;
  margin: -0.5rem;
}

.k-grouping-row {
  text-align: center;
}

#name {
  color: red;
}

#Charmmykitty {
  color: pink;
}

#Embercat {
  color: purple;
}

#Kittay {
  color: green;
}

/* after grid */

#undoBtn,
.dropbtn {
  margin-top: 2rem;
  font-size: 16px;
  border: 1px solid lightgray;
  padding: 0.5rem;
  border-radius: 0.74rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.k-grid {
  border-radius: 1rem;
  overflow: hidden;
  text-align: left;
}

/* dropdown */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 12px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}