body {
  font-family: Arial;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem;
  background-color: rgb(247, 236, 238);
}

#grid {
  text-align: center;
}

img {
  height: 1rem;
  width: 1rem;
  margin: 0.25rem 0.5rem 0 0;
}

.name {
  display: flex;
  flex-direction: row;
  text-align: left;
}